boks. {
background-color: #329632;
width: 70%;
height: 60px;
margin: 5xp auto;
}

body. {
background-color: #ffffcc
}

tabell.{
border-collapse: collapse; /* fjerner mellomrom mellom rader/kolonner , prøv uten denne også */
}
th {
background-color: #8cbe05; 
border: 1px solid #000000;
padding: 5px;
}
td {
background-color: #e7f1cc; 
border: 1px solid #000000; 
padding: 5px; 
}
.meny {
      flex-basis 200px;
      background-color: #FF0000;
      padding: 5px 20px 5px; /*5px betyr topp, 20px betyr 			venstre og høyre, 5px betyr bunn*/
      margin: 5px;
      order: 2;
	color: #48FFFF; /* Lyse blå farge (cyan)*/
	font-size: 30px;
	text-decoration: none;
